<nav id="menu-outer">
  <div class="table">
    <ul id="horizontal-list">
      <li>
        <a routerLink="">
          <button type="button" class="btn btn-outline-success">
            U s e r s <span class="material-icons md-18">account_circle</span>
          </button></a
        >
      </li>
      <li>
        <a routerLink="posts"
          ><button type="button" class="btn btn-outline-warning">
            P o s t s <span class="material-icons md-18">article</span>
          </button></a
        >
      </li>
    </ul>
  </div>
</nav>
